<html>
    <head>
        <title>About</title>
        <link rel="icon" href="./img/cloudy-512.png">
        <link rel="stylesheet" href="./css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This site was created by Dejalma Arantes in Andrew Mead´s The Complete Node.js Developer Course (3rd Edition) available at Udemy.com.</p>
            <p>It uses data from mapbox.com e darksky.net!</p>
            <img class="portrait" src="/img/cloudy-512.png"
        </div>

        {{>footer}}
    </body>
</html>